html,body{
    height:100%;
}

.footer-container,.header-container,.container{
    width:100%;
    max-width:1300px;
    margin:0px auto;
}

header{
  height:65px;
  background:pink;

  .header-container{
    height:inherit;
    text-align:center;
    background:#FFB997;
    position:relative;
  }
}

#logo{
  display:inline-block;
  margin-top:10px;
}

nav{
  height:150px;
  background:#F25F5C;
  position:absolute;
  bottom:-150px;
  left:0;
  width:100%;

  ul{
    height:inherit;
    padding:15px 15px;

    li{
        margin:15px;

        a{
            display:inline-block;
            text-transform:uppercase;
            font-size:15px;
        }
    }
  }
}
.nav-toggle-button{
  width:44px;
  height:44px;
  background:#000;
  display:block;
  border-radius:50%;
  position:absolute;
  left:50%;
  bottom:-25px;
  z-index:1;
  margin-left:-22px;
  padding-top:12px;
  font-size:22px;

  &:after{
    content:"";
    border-top:5px solid #fff;
    border-bottom:5px solid transparent;
    border-right:5px solid transparent;
    border-left:5px solid transparent;
    transform:rotate(90deg);
  }
}
main{
    min-height:100%;
    height:auto;
    background:#fff;
    margin-bottom:-150px;
    overflow:auto;

    .container{
        background:#3A506B;
        height:inherit;
        margin-bottom:150px;
    }
}

footer{
  height:150px;
  background:orange;

  .footer-container{

  }
}